<app-navbar></app-navbar>
<!-- End Navbar -->
<div class="page-header clear-filter">
    <div class="page-header-image" style="background-image: url('../../../assets/img/bg5.jpg');"></div>
    <div class="container text-center">
        <div class="col-md-12 ml-auto mr-auto">
            <br><br><br><br><br><br><br><br>
            <div class="brand">
                <h1 class="title"><mat-icon>home</mat-icon>
                    Paper Dashboard Angular
                </h1>
                <h3 class="description">Documentation v2.3.0</h3>
                <br />
                <a [routerLink]="['login']" routerLinkActive="router-link-active" 
                    class="btn btn-primary btn-round btn-lg">Plus d'infos</a>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>