<div class="sidebar bg-blue" data-color="#888">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
    <div class="logo">
        <a 
            class="simple-text logo-mini">
            <i class="now-ui-icons business_globe"></i>
        </a>
        <a 
            class="simple-text logo-normal">
            POINT D'ACCEES WIFI
        </a>
    </div>
    <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
            <li>
                <a >
                    <i class="now-ui-icons design_app"></i>
                    <p>ENI</p>
                </a>
            </li>
            <li>
                <a >
                    <i class="now-ui-icons gestures_tap-01"></i>
                    <p>AEENI</p>
                </a>
            </li>
            <li>
                <a>
                    <i class="now-ui-icons ui-2_settings-90"></i>
                    <p>CONDITIONS/CONFIDENTIALITES</p>
                </a>
            </li>
            <li>
                <a ><!--
                    <i class="now-ui-icons business_badge"></i>
                    <p></p>-->
                </a>
            </li>
            <li>
                <a ><!--
                    <i class="now-ui-icons business_badge"></i>
                    <p></p>-->
                </a>
            </li>
             <li>
                <a ><!--
                    <i class="now-ui-icons business_badge"></i>
                    <p></p>-->
                </a>
            </li>

            <li>
                <a>
                    <p></p>
                </a>
            </li>
            <li class="active-pro">
                <a >
                    <i class="now-ui-icons ui-2_chat-round"></i>
                    <p>A SAVOIR</p>
                </a>
            </li>
        </ul>
    </div>
</div>