<div class="wrapper">
    <app-sidebar></app-sidebar>
    <div class="main-panel" id="main-panel">
        <app-navbar [entete]="entete"></app-navbar>
        <!--  CONTENT -->
        <div class="panel-header panel-header-sm">
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-12"> 
                    <div class="card bg-warning">
                        <div class="card-body">
                            <div class="">
                                <h1 class="text-center text-danger">" 404 " </h1>
                            </div>
                            <div class="">
                                <h1 class="text-center">" LA RESSOURCE QUE VOUS AVEZ DEMANDE N'EXISTE PAS OU EN COURS DE DEVELOPPEMENT </h1>
                            </div>
                            
                            <div>
                                <h2 class="text-info">
                                     Merci de votre confiance !!!
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>