<div class="wrapper">
    <app-compte-sidebar></app-compte-sidebar>
    <div class="main-panel" id="main-panel">
        <app-compte-navbar></app-compte-navbar>
        <div class="panel-header panel-header-lg">
            <canvas id="bigDashboardChart"></canvas>
        </div>
        <div class="content" style="margin-top: -300px;">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div @fade class="card">
                        <div class="card-header">
                            <h5 class="title">RESERVEE AU ETUDIANT DE L'ENI</h5>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="addForm" (ngSubmit)="onSubmitAddForm()">
                                <div class="row">
                                    <div class="col-md-12 pr-1">
                                        <div class="form-group">
                                            <label>Matricule </label>
                                            <input type="text" formControlName="et_num" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 pr-1"> 
                                        <div class="form-group">
                                            <label>E-mail</label>
                                            <input type="text" formControlName="email" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6 pl-1">
                                        <div class="form-group">
                                            <label>Telephone</label>
                                            <input type="email" formControlName="telephone" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Creer un mot de passe</label>
                                            <input type="password" formControlName="password" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 pr-1">
                                        <div class="form-group">
                                            <label>Confirmer le mot de passe</label>
                                            <input type="password" formControlName="password_conf" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 mt-4 ml-2">
                                        <span id="alert" onclick="nowuiDashboard.showNotification('top','right', 'Votre compte est cree avec succes!', 'success')" class="text-success" style="display: none;"><i class="now-ui-icons loader_refresh spin"></i></span>
                                        <span id="error" onclick="nowuiDashboard.showNotification('top','right', 'Votre identite n\'existe pas dans la base de donnee!', 'danger')"></span>
                                        <span id="warning" onclick="nowuiDashboard.showNotification('top','right', 'Vous avez deja un  compte dans la base!', 'primary')"></span>
                                        <span id="p-warning" onclick="nowuiDashboard.showNotification('top','right', 'Mot de passe de confiramation invalide!', 'warning')"></span>
                                        <span id="err" onclick="nowuiDashboard.showNotification('top','right', 'Une a ete produite pendant la creation de votre compte! Veuillez reessayer!', 'danger')"></span>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="submit" class="form-control btn btn-primary"  onclick="nowuiDashboard.showNotification('top','right', 'Verification de votre  information!', 'info')"
                                            [disabled]="addForm.invalid">Enregistrer</button>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="reset" class="form-control btn btn-danger">Effacer</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>